<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Thank You!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://use.typekit.net/bez5nda.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <main>
        <header>
            <h1>Thank you for submitting!</h1>
        </header>
    </main>

    <!-- Restart icon -->
    <a href="/" class="restart-icon">
        <i class="fas fa-redo"></i>
    </a>
</body>
</html>
